$primary-color: #2196f3;
$primary-text: #212121;

body {
  font-family: Verdana, sans-serif;
}

html {
  background-color: #ecf9ff;
}

.content {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  color: $primary-text;
}

h1 {
  padding: 50px 0 20px 0;
}

.question {
  position: relative;
  background: $primary-color;
  color: white;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width: 100%;
  cursor: pointer;
}
/*Answer*/
.answers {
  padding: 0px 15px;
  margin: 5px 0;
  width: 100% !important;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .answers {
  height: auto;
  opacity: 1;
  padding: 15px;
}

/*FAQ Toggle*/
.plus {
  position: absolute;
  margin: 0 0 0 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: white;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

.quest-answ {
  margin-bottom: 30px;
  font-size: 18px;
}

h3 {
  padding-bottom: 10px;
  color: $primary-text;
}

.text-contact {
  color: $primary-text;
  margin: 70px 0;
}

@media only screen and (min-width: 280px) and (max-width: 1000px) {
  h1 {
    margin: 0 4px 0 4px;
  }
}

